<h2>Hardware Zone</h2>
<p>Welcome to Hardware Zone, the prime destination for all your computer hardware needs! Building a new rig, or just
    looking for an upgrade? Come and have a look around our product catalogue! We're sure you'll find what you're
    looking for!</p>

<div class="row">
    <div class="col col-md-2 col-sm-12 mt-2">
        <div class="h5">Categories</div>

        <ul class="list-group">
            <button [class.active]="currentFilter == c" class="list-group-item list-group-item-action"
                *ngFor="let c of productCategories" (click)="filterProducts(c)">{{c}}</button>
        </ul>
    </div>

    <div class="col col-md-10">
        <h5>Products</h5>
        <div *ngFor="let product of filteredProducts">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>