<h2>Cart</h2>

<P>Here is your shopping cart. Feel free to add more items, or checkout if you're done!</P>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tr *ngFor="let item of cartItems">
        <td>{{item.item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.item.price | currency:'Rs. '}}</td>
        <td>{{item.item.price * item.quantity | currency:'Rs. '}}</td>
    </tr>
    <tr>
        <td colspan="3" class="text-right font-weight-bold">Total</td>
        <td>{{totalCost | currency:'Rs. '}}</td>
    </tr>
</table>

<div class="d-inline">
    <a class="btn btn-primary" routerLink="/home">Add More Products</a>
    <button class="btn btn-primary mx-2">Checkout</button>
    <button class="btn btn-danger" (click)="clearCart()">Clear</button>
</div>