<div class="row bg-light border border-dark mt-5">
    <div class="col">
        <div class="font-weight-bold">{{product.name}}</div>
        <div>{{product.price | currency:'Rs. '}}</div>
        <div *ngIf="product.quantity > 0; else outOfStock">
            <button class="btn btn-primary mb-2" (click)="addToCart(product)">Add to Cart</button>
        </div>

        <ng-template #outOfStock>
            <div class="text-danger" *ngIf="product.quantity == 0">Out of stock!</div>
        </ng-template>
    </div>

    <div class="col text-right">
        <img src="{{product.imagePath}}" height="200" width="200" alt="{{product.name}}.jpg">
    </div>

</div>