ul {
    list-style-type: none;
    border: 1px solid black;
}

li {
    border: 1px solid violet;
}

li:hover {
    background-color: dodgerblue;
}

li:active {
    background-color: dodgerblue;
}

li:visited {
    background-color: dodgerblue;
}